<% if source.errors.any? %>
  <div class='alert alert-error'>
    <h5>Please fix the following errors:</h5>
    <ul>
      <% source.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>