<div>
  <h1 class="center">Welcome to Blackjack!</h1>
</div>

<br>

<div>
  <form action="/set_name" method="post" class="center">
    <input type="text" placeholder="Please enter your name" name="player_name">
    <br>
    <button type="submit" class="btn btn-primary">Start</button>
  </form>
</div>